<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>CriptoConv</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-y: hidden;
      padding-left: 10px;
      padding-right: 10px;
    }

  </style>
</head>
<body>

    <div style="background-color: #1C1C1C; color: white; font-family: Arial, sans-serif; height: 99vh;">
        <header class="bg-light py-3">
            <div class="container d-flex justify-content-between align-items-center">
                <h1 class="logo" style="color: #1C1C1C;">CriptoConv</h1>
                <nav>
                    <ul class="nav">
                        <li class="nav-item"><a href="/conversor" class="nav-link">Conversor</a></li>
                        <li class="nav-item"><a href="/mercado" class="nav-link">Mercado</a></li>
                        <li class="nav-item"><a href="/carteira" class="nav-link">Carteira</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div style="display: flex; justify-content: space-around; padding: 20px; height: calc(100vh - 100px);">
          <div style="background-color: #2C2C2C; width: 450px; padding: 20px; border-radius: 10px;">
            <div style="display: flex; align-items: center;">
              <div style="background-color: black; width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;"></div>
              <p>André Rigo</p>
            </div>
            <div style="margin-top: 20px;">
              <div style="display: flex; align-items: center; justify-content: space-between;">
                <p>Favoritos</p>
                <p style="font-size: 24px;">+</p>
              </div>
              <div style="margin-top: 10px; display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <p style="color: #F08800; font-size: 20px; margin-right: 5px;">₿</p>
                  <p>Bitcoin(BTC)</p>
                </div>
                <p>$62.390</p>
              </div>
              <div style="margin-top: 10px; display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <p style="color: #8C8C8C; font-size: 20px; margin-right: 5px;">🐶</p>
                  <p>Doge</p>
                </div>
                <p>$0.2093</p>
              </div>
            </div>
          </div>
          <div style="background-color: #2C2C2C; width: 450px; padding: 20px; border-radius: 10px;">
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <h3>Minhas Moedas</h3>
              <p style="font-size: 24px;">+</p>
            </div>
            <div style="margin-top: 20px; display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <p style="color: #F08800; font-size: 20px; margin-right : 5px;">₿</p>
                  <p>Bitcoin(BTC)</p>
                </div>
                <p>$62.390</p>
              </div>
              <div style="margin-top: 10px; display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <p style="color: #8C8C8C; font-size: 20px; margin-right: 5px;">🐶</p>
                  <p>Doge</p>
                </div>
                <p>$0.2093</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>